<div class="container my-5">
    <h1 class="mb-3">Adicionar novo livro</h1>

    <form #form="ngForm" (ngSubmit)="adicionarLivro()">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="inputTitulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" 
                    id="inputTitulo" name="titulo"
                    [(ngModel)] = "adicionarLivroRequest.titulo">
                </div>
            </div>
            <div class="col-sm-6">
                
                <div class="mb-3">
                    <label for="inputSubtitulo" class="form-label">Subtitulo</label>
                    <input type="text" class="form-control" 
                    id="inputSubtitulo" name="subtitulo"
                    [(ngModel)] = "adicionarLivroRequest.subtitulo">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputResumo" class="form-label">Resumo</label>
            <input type="text" class="form-control" 
            id="inputResumo" name="resumo"
            [(ngModel)] = "adicionarLivroRequest.resumo">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="inputQuantidadePaginas" class="form-label">Quantidade de Páginas</label>
                    <input type="number" min="1" max="1000" class="form-control" 
                    id="inputQuantidadePaginas" name="quantidadePaginas"
                    [(ngModel)] = "adicionarLivroRequest.quantidadePaginas">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="inputDataPublicacao" class="form-label">Data de publicação</label>
                    <input type="date" min="1" max="1000" class="form-control"
                    id="inputDataPublicacao" name="dataPublicacao"
                    [(ngModel)] = "adicionarLivroRequest.dataPublicacao">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="inputEditora" class="form-label">Editora</label>
                    <input type="text" class="form-control" 
                    id="inputEditora" name="editora"
                    [(ngModel)] = "adicionarLivroRequest.editora">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label for="inputEdicao" class="form-label">Edição</label>
                    <input type="number" class="form-control" 
                    id="inputEdicao" name="edicao"
                    [(ngModel)] = "adicionarLivroRequest.edicao">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputAutor" class="form-label">Autor</label>
            <input type="text" class="form-control" 
            id="inputAutor" name="autor"
            [(ngModel)] = "adicionarLivroRequest.autor">
        </div>
        <button type="submit" class="btn btn-primary">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>